/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

ul {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

li {
    display: inline-block;
}

/* RESET END */
/* --------------------------------------------------------------- */
/* COMMON */

.wrapper80 {
    width: 80%;
    margin: auto;
}

header {
    padding-top: 84px;
}

section,
footer {
    padding: 50px 0;
}

.wrapper60 {
    width: 60%;
    margin: auto;
}

.col {
    float: left;
    padding: 35px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.text-body, p {
    font-weight: 300;
    font-size: 15px;
    color: #33475B;
    line-height: 1.6;
}

h1 {
    color: #33475B;
    font-weight: 700;
    font-size: 36px;
}

h2 {
    color: #33475B;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 35px;
}

h3 {
    color: #33475B;
    font-weight: 700;
    font-size: 24px;
}

h4 {
    text-transform: uppercase;
    color: #33475B;
    font-weight: 700;
}

.button {
    font-weight: 500;
    font-size: 12px;
    background-color: #FE7759;
    border-radius: 5px;
    border: 1px solid #FE7759;
    padding: 15px 25px;
}

.column-line{
    display: inline-block;
    vertical-align: middle;
    width: 60%;
    margin: 25px 5%;
    border-top: 2px solid #33475B;
}

.col-two-column {
    width: 30%;
}

.clearfix .col-two-column:last-child {
    width: 65%;
    margin-left: 5%;
}

.col-two-column-50 {
    width: 50%;
}

.col-three-column {
    width: 30%;
}

.clearfix .col-three-column:nth-of-type(2) {
    width: 30%;
    margin: 0 5%;
}

/* COMMON END */
/* --------------------------------------------------------------- */
/* HEADER */

.header-logo {
    width: 100px;
}

header nav i:before {
    margin-left: 10px;
}

header nav li {
    margin-left: 25px;
}

header .col-two-column {
    padding: 20px 0;
}

header a {
    color: #33475B;
}

header .col:last-child {
    text-align: right;
}

/* Header Jumbotron */


.header-jumbotron {
    height: 550px;
    background-image: url(../img/jumbotron.png);
    background-size: fixed;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-color: #FFF6EF;
    z-index: 0;
    width: 100%;
    position: relative;
}

.header-line {
    height: 83px;
    width: 100%;
    background-color: #B0EBE4;
    border-top: 2px solid #33475B;
    border-bottom: 2px solid #33475B;
    position: absolute;
    z-index: 1;
    bottom: 0;
}

.jumbotron-text {
    position: absolute;
    top: 100px;
    width: 35%;
    left: 10%;
}

.jumbotron-text p:nth-of-type(2) {
    margin-top: 25px;
    font-size: 10px;
    font-weight: 500;
}

.jumbotron-text p {
    margin: 25px 0;
}

.header-jumbotron .button {
    display: inline-block;
    color: white;
    margin: 10px 0;
}

/* HEADER END */
/* --------------------------------------------------------------- */
/* MAIN */

/* Main First Section */

.main-first-section {
    padding: 50px 0;
}

.main-first-section .wrapper60 {
    margin-bottom: 50px;
    text-align: center;
}

.main-first-section .wrapper60 img {
    width: 300px;
    margin: 0 auto;
}

.main-first-section {
    text-align: center;
    background-color: #F4F9FD;
}

.main-first-section .wrapper80 img {
    height: 125px;
    margin-bottom: 35px;
}

.main-first-section li i { 
    margin-right: 5px;
    font-size: 14px;
    color: #FE775B;
}

.main-first-section .col-one-column {
    background-color: #FFFFFF;
    box-shadow: 0 10px 50px -5px rgba(51,71,91,0.12);
    width: 100%;
    margin-bottom: 50px;
    border-radius: 5px;
}

.main-first-section .col-two-column:last-of-type {
    text-align: left;
}

.main-first-section .col-two-column li {
    padding-right: 25px;
}

.main-first-section .wrapper80 .col-two-column p {
    margin-top: 25px;
    padding-right: 20%;
} 

.main-first-section .wrapper80 .col-two-column h4 {
    display: inline-block;
}

.main-first-section .wrapper80 .col-two-column hr {
    display: inline-block;
    width: 60%;
    vertical-align: middle;
    margin: 0 5%;
}

.main-first-section .col-three-column {
    background-color: #FFFFFF;
    box-shadow: 0 10px 50px -5px rgba(51,71,91,0.12);
    border-radius: 5px;
}

.main-first-section .wrapper80 .col-three-column hr {
    margin: 25px auto;
    border: 1px solid #899398;
    width: 90%;
}

.main-first-section .wrapper80 .col-three-column h3 {
    margin: 35px 0;
}

.main-first-section .wrapper80 .col-three-column h4 {
    margin-bottom: 25px;
}

.main-first-section .wrapper80 .col-three-column p {
    line-height: 2;
}

.main-first-section .wrapper80 .col-three-column li {
    text-align: left;
    display: block;
    line-height: 1.25;
    font-weight: 500;
    font-size: 14px;
    color: #33475B;
}

.main-first-section .wrapper80 .col-three-column ul {
    margin-bottom: 50px;
}

/* Main First Section End */
/* ::::::::::::::::::::::::::::::::::::::::::::::: */
/* Main Second Section */

.main-second-section {
    background: linear-gradient(45deg,#00a4bd,#00bda5);
    height: 650px;
    text-align: center;
    padding: 100px 0;
}

.main-second-section .text-body,
.main-second-section p,
.main-second-section h2 {
    color: white;
}

.main-second-section p {
    margin-bottom: 35px;
}

.main-second-section .col {
    width: 25%;
    border-left: 1px solid white;
    padding: 20px;
}

.main-second-section .clearfix:nth-of-type(1) {
    border-bottom: 1px solid white;
}

.main-second-section .col:nth-child(1) {
    border-left: none;
}

.main-second-section img {
    height: 30px;
    margin-bottom: 10px;
}

.main-second-section {
    color: white;
}

.main-second-section h2:first-child {
    margin-bottom: 35px;
}

.main-second-section .col h2 {
    display: inline-block;
    margin-bottom: 0;
}

.main-second-section .col .text-body {
    font-size: 10px;
}

.main-second-section .col h2 span {
    font-size: 30px;
    margin-left: 3px;
    font-weight: 500;
}

/* Main Second Section End */
/* ::::::::::::::::::::::::::::::::::::::::::::::: */
/* Main Third Section */

.main-third-section {
    background-color: #FFFFFF;
}

.main-third-section .wrapper60 .col {
    padding: 0;
}

.main-third-section .wrapper60 p {
    padding-right: 10%;
}

.main-third-section li img {
    width: 125px;
    padding: 10px;
}

.main-third-section li {
    vertical-align: middle;
}

.main-third-section .wrapper80 img {
    display: inline-block;
    width: 300px;
    text-align: right;
}

.main-third-section .col-two-column-50 {
    padding: 50px 0 0 0;
}

.main-third-section .col-two-column-50:last-child {
    padding: 0;
}

.main-third-section .col-two-column-50:last-child {
    text-align: right;
}

.main-third-section .wrapper80 p {
    margin: 50px 0;
}

.main-third-section .wrapper80 p:nth-of-type(2) {
    font-size: 10px;
    font-weight: 500;
}

/* Main Third Section End */
/* ::::::::::::::::::::::::::::::::::::::::::::::: */
/* MAIN END */
/* --------------------------------------------------------------- */
/* FOOTER */

footer {
    background-color: #32495B;
}

footer p,
footer a,
footer h5 {
    color: #DADEE0;
    line-height: 2.5;
}

footer .clearfix:first-child .col {
    width: 25%;
}

footer .button {
    background-color: #DADEE0;
    border: 1px solid #DADEE0;
    padding: 2.5px 5px;
    color: #32495B;
    display: inline-block;
    margin: 15px 0;
}

footer .clearfix:first-child li {
    display: block;
}

footer .clearfix:first-child p:last-child {
    letter-spacing: 10px;
}

footer .languages {
    text-align: center;
}

footer .languages li {
    margin: 25px 10px 0 10px;
}

footer .languages hr {
    border: 0.5px solid #DADEE0;
    margin-top: 10px;
}

footer a {
    font-size: 12px;
}

footer .col-two-column-50 {
    padding: 25px 0 0 0;
}

footer .clearfix:last-child .col:last-child {
    text-align: right;
}

.footer-logo {
    width: 100px;
}

/* FOOTER END */
/* --------------------------------------------------------------- */
/* FIXED ELEMENTS END */

.fixed-menu {
    width: 100%;
    background-color: #F4F9FD;
    position: fixed;
    top: 0;
    color: #33475B;
    z-index: 1;
    border-bottom: 1px solid #33475B;
}

.fixed-menu .col {
    padding: 30px 0;
}

.fixed-menu .col:first-child li {
    margin-right: 25px;
}

.fixed-menu .col:last-child li {
    margin-left: 25px;
}

.fixed-menu .col:first-child li:nth-child(1n+2) {
    border-left: 1px solid #33475B;
    padding-left: 25px;
}

.fixed-menu .col:first-child a {
    color: #33475B;
}

.fixed-menu .col:last-child {
    text-align: right;
}

.fixed-menu .col:first-child i:first-child:before {
    padding-right: 10px;
}

.fixed-menu .col:first-child i:nth-child(1n+2):before {
    padding-left: 10px;
}

/* FIXED ELEMENTS END */